.button {
	background-color: $button-bg-color;
	font-family: $main-font;
	max-width: 200px;
	border-radius: 0.2em;
	text-align: center;
	border: none;
	outline: none;
	display: block;
	a {
		color: $button-text-color;
		text-decoration: none;
		text-transform: capitalize;
		line-height: 30px;
		padding: 0 2em;
		font-weight: bold;
		font-size: 1rem;
		display: inline-block;
	}

	&--full {
		max-width: 100%;
	}
	&--half {
		width: 50%;
		max-width: 800px;
		min-width: 150px;
	}
	&--padding {
		a {
			padding: 0.5em 2em;
			font-weight: normal;
			word-break: break-all;
		}
	}

	&[type="submit"] {
		color: $button-text-color;
		text-transform: capitalize;
		line-height: 30px;
		padding: 0 2em;
		font-weight: bold;
		font-size: 1rem;
		display: inline-block;
	}
}
