.footer {
	background-color: $footer-bg-color;
	color: $footer-text-color;
	padding: 1rem;

	// min-width: 100vw;

	&__wrapper {
		max-width: 900px;
		margin: 0 auto;
		display: grid;
		grid-template-areas:
			"list logo"
			"action action";
	}

	&__logo {
		& > * {
			display: none;
		}
		grid-area: logo;
		span {
			font-family: $secondary-font;
			display: inline-block;
			font-size: 3rem;
			writing-mode: vertical-rl;
			rotate: 180deg;
		}
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
	}

	.nav__list {
		grid-area: list;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;

		list-style: none;
		width: 100%;
	}

	.nav__item {
		width: 100%;
	}

	.nav__link {
		text-decoration: none;
		color: $footer-text-color;
		font-weight: bold;
		width: 100%;
		display: inline-block;
		padding: 1rem;
		cursor: pointer;
	}

	&__action-list {
		grid-area: action;
		place-self: center;
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	&__action-item {
		align-self: flex-end;

		display: grid;
		grid-template-columns: repeat(2, 20px) minmax(150px, 1fr);
		place-items: center left;
		column-gap: 0.5rem;
		color: #ffffff;
		span {
			margin-left: auto;
		}
		img {
			width: 100%;
			height: 100%;
			filter: invert(100%) sepia(0%) saturate(211%) hue-rotate(166deg)
				brightness(228%) contrast(100%);
		}
	}

	&__search-field {
		margin-bottom: 1.5rem;
		border-color: $search-field-border-color;

		input {
			background-color: $footer-bg-color;
			color: white;
		}
		img {
			filter: invert(100%) sepia(0%) saturate(211%) hue-rotate(166deg)
				brightness(228%) contrast(100%);
		}
	}
}

@media (min-width: $desktop-size) {
	.footer {
		&__wrapper {
			grid-template-areas: "list logo action";
		}

		&__logo {
			& > * {
				display: block;
			}
			text-align: center;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: center;
			margin: 0;
			span {
				writing-mode: horizontal-tb;
				rotate: 0deg;
			}
			.to-start {
				text-decoration: underline;
				font-size: 1.5rem;
			}
		}

		.nav__list {
			margin-bottom: 0;
		}
	}
}
