.modal {
	position: absolute;

	z-index: $modal-z;
	top: 80vh;
	left: 50vw;
	translate: -50% -50%;

	container-type: inline-size;
	container-name: modal;
	max-width: 1500px;
	min-width: 200px;
	width: 80%;

	grid-template-columns: repeat(2, 1fr);
	overflow: hidden;

	display: none;
	&.show {
		display: grid;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.form {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		&__close {
			align-self: flex-end;
			display: flex;
			justify-content: flex-end;
			position: relative;
			height: 50px;
			width: 50px;

			&:hover {
				span {
					background-color: rgb(205, 55, 55);
				}
			}
			span {
				position: absolute;
				top: 20px;
				right: 20px;

				width: 30px;
				height: 5px;
				background-color: black;
				display: inline-block;

				transition: background-color 300ms;

				&:nth-child(1) {
					rotate: 45deg;
				}
				&:nth-child(2) {
					rotate: -45deg;
				}
			}
		}
		&__title {
			font-family: $secondary-font;
			color: rgb(60, 60, 60);
			font-size: 2rem;
		}

		&__input-container {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}

		&__input {
			min-width: 150px;
			width: 40%;
			max-width: 200px;
			font-size: 1rem;
			border: none;
			outline: none;
			padding: 1rem 0;
			border-bottom: 2px solid gray;
			&::placeholder {
				color: gray;
			}
		}
		&__textarea {
			grid-column: 1 / 3;
			font-size: 1rem;
			width: 100%;
			height: 120px;
			border: 1px solid gray;
			outline: none;
			padding: 0.5rem 1rem;
			resize: none;
		}
	}

	&__bg {
		z-index: $modal-bg-z;
		position: absolute;
		inset: 0;
		bottom: -90vh;

		display: none;
		&.show {
			display: block;
		}
	}
}

@container modal (max-width: 400px) {
	.modal {
		img {
			display: none;
		}
		.form {
			grid-column: 1/3;
		}
	}
}
