$desktop-size: 1000px;

$secondary-font: "secondary";
$main-font: "noto";

$main-text-color: black;

$button-bg-color: #e17d21;
$button-text-color: white;

$discount-bg-color: #4e9f3d;
$discount-text-color: white;

$type-bg-color: gray;
$type-text-color: white;

$price-text-color: #1e5128;

$footer-bg-color: #191a19;
$footer-text-color: white;

$search-field-border-color-header: rgb(165, 165, 165);
$search-field-border-color: #ffffffc1;
$search-result-price-color: rgb(8, 80, 0);
$search-result-title-color: rgb(76, 76, 76);
$search-result-size-color: lighten($search-result-title-color, 20%);
$search-field-list-shador-color: rgba(68, 68, 68, 0.632);

$active-accordion-text-color: lightgreen;

$modal-bg-z: 25;
$modal-z: 30;
$nav-z: 10;
