extends blocks/_layout

block contentVars 
    -
        const sidebarList = [
            {
                title: 'Брус обрезной', 
                types: [
                    {
                        title: 'Брус сухой обрезной',
                        types: [
                            {title: 'new type1'},
                            {title: 'new type2'},
                            {title: 'new type3'}
                        ]
                    },
                    {title: 'Брус сухой строганый'},
                    {title: 'Брус строганый'},
                    {title: 'Брус клееный'},
                    {title: 'Брус профилированный'},
                    {title: 'Профбрус камерной сушки'},
                ]
            },
            {
                title: 'Доска',
                types: [
                    {title: 'Брус сухой обрезной'},
                    {title: 'Брус сухой строганый'},
                    {title: 'Брус строганый'},
                    {title: 'Брус клееный'},
                    {title: 'Брус профилированный'},
                    {title: 'Профбрус камерной сушки'}
                    ]
            },
            {title: 'Брусок'},
            {title: 'Фанера'},
            {title: 'Фасадный планкен'},
        ]


block content 
    .workspace
        aside.sidebar
            +accordion(sidebarList)
        section.section.section-about 
            h1.section__title о нас
            .section__content 
                .text Создатели суперкомпьютера Setonix сообщили, что при генерации изображения использовалась только половина возможной мощности машины. В будущем планируется подключить дополнительные вычислительные модули, чтобы астрономы могли обрабатывать таймлапсы не только отдельных звезд, но и целых галактик.
                +image('about.png')
        section.section.section-afterAbout     
            .section__content 
                +image('about/1.png')
                .text Создатели суперкомпьютера Setonix сообщили, что при генерации изображения использовалась только половина возможной мощности машины. В будущем планируется подключить дополнительные вычислительные модули. Финансовые приложения пользуются повышенным интересом в республиках Северного Кавказа. На эту категорию приходится более 81% от всех скачиваний в Ингушетии, около 72% в Чечне и 63% в Дагестане. 
        section.section.section-name     
            h1.section__title название
            .section__content
                .section-card
                    .section-card__text Наиболее играющими регионами стали Республика Алтай и республика Хакасия, 14% и 11% от общего количества загрузок соответственно, следом расположились Ивановская область, Костромская область и Ненецкий автономный округ. 
                    .section-card__image 
                        +image('about/2.png')
                .section-card
                    .section-card__text В данный момент RuStore работает в формате бета-тестирования, предоставляя возможности по скачиванию и размещению сервисов пользователям и разработчикам. В магазине представлены приложения технологических компаний, банков. 
                    .section-card__image 
                        +image('about/3.png')

                
