extends blocks/_layout

block contentVars 
    -
        const typesList = [
            {
                title: 'Палубная доска',
                text: 'Это традиционное напольное покрытие для открытых помещений (терраса, веранда) или помещений с высокой влажностью. Главным отличием является особенный рельеф на лицевой стороне. Такая обработка исключает скольжение при любых погодных условиях. ',
                imgSrc: 'products/product_2.png'
            }
        ]
    -
        const sidebarList = [
            {
                title: 'Брус обрезной', 
                types: [
                    {
                        title: 'Брус сухой обрезной',
                        types: [
                            {title: 'new type1'},
                            {title: 'new type2'},
                            {title: 'new type3'}
                        ]
                    },
                    {title: 'Брус сухой строганый'},
                    {title: 'Брус строганый'},
                    {title: 'Брус клееный'},
                    {title: 'Брус профилированный'},
                    {title: 'Профбрус камерной сушки'},
                ]
            },
            {
                title: 'Доска',
                types: [
                    {title: 'Брус сухой обрезной'},
                    {title: 'Брус сухой строганый'},
                    {title: 'Брус строганый'},
                    {title: 'Брус клееный'},
                    {title: 'Брус профилированный'},
                    {title: 'Профбрус камерной сушки'}
                    ]
            },
            {title: 'Брусок'},
            {title: 'Фанера'},
            {title: 'Фасадный планкен'},
        ]
   
block content
    p im from index
    +button('click', true)
    //- aside.sidebar
    //-     +accordion(sidebarList)
    +accordionInfo(typesList)
