mixin card(_imgSrc='', _title='Доска обрезная', _type='Лиственница', _price=9000, hasDiscount, _href)
    .card 
        +image(_imgSrc, 'card__image')
        
        .card__title= _title
        .card__type= _type
        .card__flexy
            .card__price= _price
            .card__actions 
                +button('Перейти', 'button--full', _href)
                if (hasDiscount)
                    span.discount -20%
