block headerVars
    -
        const navList= [
            {
                href:'http://localhost:8080/catalog.html',
                text:'Каталог',
            },
            {
                href:'#',
                text:'Акции',
            },
            {
                href:'#',
                text:'Кубатурник',
            },
            {
                href:'#',
                text:'Доставка',
            },
            {
                href:'#',
                text:'О нас',
            },
            {
                href:'#',
                text:'Контакты',
            },
        ]

    -
        const navActions = [
            {
                img1: 'header/action_whatsapp.svg',
                img2: 'header/action_tg.svg',
                text: '+7 (939) 777-70-90'
            },
            {
                img1: 'header/action_phone.svg',
                img2: 'header/action_phone2.svg',
                text: 'Заказать звонок'
            },
        ]

header.header
    .burger(data-nav-open)
        span
        span
        span
        
    .logo 
        span лого
        +image("header/logo.svg")

    nav.nav(data-nav)
        .nav__close(data-nav-close) 
            span
            span
        ul.nav__list 
            each navItem in navList 
                li.nav__item 
                    a.nav__link(href=navItem.href)= navItem.text
        +searchField('nav__search-field')
        .nav__action-list 
            each action in navActions 
                .nav__action-item
                    +image(action.img1)
                    +image(action.img2)
                    span= action.text
    
    
    
    .search
        +image('header/search.svg')
