template(data-searchFieldList)
    ul.search-field__list 

template(data-searchFieldListItem)
    li.search-field__list__item
        img.image(data-image, alt='image for product')
        .properties
            h4.title(data-title)
            .price(data-price)
            .size(data-size)

        
